body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#page{
    height:100%;
    width:100%;
    overflow: auto;
}
#title{
    padding-left:15px;
    color:#22313F;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700;
}
#header{
    background-color:#34495E;
    color:white;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:5px;
    font-size:x-large;
}

ol{
    list-style:disc;
}

ul{
    list-style: none;
    padding:0;
    margin:0;
}
ul li{
    display:block;
    width:100%;
    padding:10px 0 10px 0;
}

ul li a {
    padding-left:10px;
}

ul li:hover{

}
a:link,a:active,a:visited{
    color:#34495E;
}
a:hover{
    text-decoration: none;
    color:white;
}
td{
    vertical-align: text-top;
}

.sdimg{
    width:80%;
    margin:0 10% 0 10%;
}
td{
    padding:5px 7px 5px 0;
}

.ui-grid-a .ui-block-a{width:35%; vertical-align: text-top;}
.ui-grid-a .ui-block-b{width:65%; vertical-align: text-top;}

#tce ol{
    list-style:decimal;
}

#ts_ol li {
    padding:5px;
    background-color:beige;
}

#ts_ol{
    padding:0;
    margin:0;
}