body{
}
#header,#footer{
    background-color:#34495E;
    color:white;
    padding:10px;
    font-size:25px;
    letter-spacing: 3px;
}

ul{
    list-style: none;
    padding:0;
    margin:0;
}
ul li{
    display:block;
    width:100%;
    padding:10px 0 10px 0;
}

ul li a {
    padding-left:10px;
}

ul li:hover{
    background-color: #DADFE1;
}
a:link,a:active,a:visited{
    color:#34495E;
}
a:hover{
    text-decoration: none;
    color:white;
}
