#page{
    height:100%;
    width:100%;
    overflow: auto;
}
#title{
    padding-left:15px;
    color:#22313F;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700;
}
#header{
    background-color:#34495E;
    color:white;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:5px;
    font-size:x-large;
}

ol{
    list-style:disc;
}

ul{
    list-style: none;
    padding:0;
    margin:0;
}
ul li{
    display:block;
    width:100%;
    padding:10px 0 10px 0;
}

ul li a {
    padding-left:10px;
}

ul li:hover{
    background-color: #DADFE1;
}
a:link,a:active,a:visited{
    color:#34495E;
}
a:hover{
    text-decoration: none;
    color:white;
}
td{
    vertical-align: text-top;
}

.sdimg{
    width:80%;
    margin:0 10% 0 10%;
}